.place__paragraph-content_content_nd {
  row-gap: 25px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph-content_content_nd {
    row-gap: 14px;
  }
}

@media screen and (max-width: 719px) {
  .place__paragraph-content_content_nd {
    row-gap: 7px;
  }
}