.lead__ilustration {
  width: 100%;
  max-height: 615px;
  padding-top: 64px;
}

@media screen and (max-width: 1023px) {
  .lead__ilustration {
    padding-top: 69px;
  }
}

@media screen and (max-width: 719px) {
  .lead__ilustration {
    padding-top: 40px;
  }
}