.lead__subtitle {
  width: 80%;
  text-align: center;
  margin-top: 32px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    width: 90%;
    margin-top: 99px;
  }
}

@media screen and (max-width: 719px) {
  .lead__subtitle {
    margin-top: 60px;
    font-size: 16px;
  }
}