.cover {
  min-width: 100%;
  padding: calc(38% / 2) 0;
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
}

.cover::after {
  margin: auto;
  max-width: 1184px;
  background-image: url(../../images/cover/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-filter: opacity(.7);
          filter: opacity(.7);
  transition: -webkit-filter 450ms ease-in-out 0s;
  transition: filter 450ms ease-in-out 0s;
  transition: filter 450ms ease-in-out 0s, -webkit-filter 450ms ease-in-out 0s;
}

.cover:hover:after {
  -webkit-filter: opacity(.2);
          filter: opacity(.2);
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 64px;
  }
}