.cover {
  width: 92.5vw;
  max-width: 1184px;
  min-width: 1184px;
  padding: calc(34.32% / 2) 0;
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  url(../../images/cover/cover__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1183px) {
.cover {
    width: 100vw;
    min-width: 320px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    margin-top: 64px;
  }
}