.intro__paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-top: calc(42px - 20px);
}

@media screen and (max-width: 767px) {
  .intro__paragraph {
    margin-top: 0;
  }
}