.place {
  width: 93%;
  display: grid;
  justify-content: center;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  gap: 48px 40px;
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    gap: 46px 28px;
  }
}

@media screen and (max-width: 719px) {
  .place {
    grid-template-columns: minmax(300px, 87%);
    grid-template-rows: auto auto 320px repeat(3, auto);
    gap: 16px;
  }
}