.footer {
  padding-top: 92px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 719px) {
  .footer {
    padding-top: 64px;
  }
}