.button {
  width: 355px;
  background-color: #0278FE;
  font-family: inherit;
  color: inherit;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  border-radius: 4px;
}

@media screen and (max-width: 1279px) {

}

@media screen and (max-width: 767px) {
.button {
  width: 288px;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 21px;
}
}