.button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #0278FE;
  font-family: inherit;
  color: inherit;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 350ms ease-out 0ms;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.button:hover {
  background: #0063D2;
}

@media screen and (max-width: 719px) {
  .button {
  justify-self: center;
  font-size: 14px;
  padding: 15px 21px;
  }
}